.contact{

    padding: 40px 10px;

    @media(min-width:1200px){
        padding: 104px 0 110px;
    }
    @media(min-width:768px){
        position: relative;
    }
    .contact-form{
        h2{
            font-size: 3rem;
            letter-spacing: 5px;
            line-height: 4.5rem;
        }
        .form-control{
            letter-spacing: -0.23px;
            font-weight: 300;
            line-height: 2.5rem;
        }

        .btn{
            font-size:1.4rem;
            letter-spacing: 0.5px;
            line-height: 1.7rem;
            text-align: center;
        }
    }//contact-form
    .contact-map{
        @media(min-width:768px){
            position: absolute;
            top: 0;
            start: 0;
            

        }
    }//map


}//contact

.info{
    padding: 6rem 0;
    .info-group{
        a{
            color: $secondary;
            text-decoration: none;
            font-size: 2.4rem;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 2.5rem;

        }
    }
}//info
