$footer-color: $secondary;


footer{
    padding: 49px 0 25px;
    
    .social{
        margin-bottom: 19px;
        a{
            text-decoration: none;
            font-size: 2.3rem;
            color: $primary;
            margin: 0 16px;
            transition: 0.3s linear;
            &:hover{
                color:darken($primary, 30%)
            }
        }
    }
    
    .copyright{
         font-size: 1.2rem;
         line-height: 4.1rem;
         letter-spacing: -0.17px;
        
        a{
            text-decoration: none;
            color: $footer-color;
        }
    }
    
}//footer
