$toggler-bg: $primary;


header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
    z-index: 6;
   

    .navbar-brand{
        max-width: 200px;
    }

    .navbar-toggler{
        border: none;
        span{
            display: block;
            width: 40px;
            height: 4px;
            background-color: $toggler-bg;
            margin-bottom: 5px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }// navbar-toggler


    .navbar-nav{
        background-color: #ffffff;

        li{
            @media(min-width:768px){
                margin-left: 20px;
            }
            @media(min-width:992px){
                margin-left: 72px;
            }

            a{
                text-align: center;
                font-size: 1.4rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                line-height: 1.7rem;
                padding: 10px;
                border-bottom: 1px solid transparent;
                transition: 0.3s linear;
                &.active{
                    border-bottom: 1px solid $primary;

                }
            }

        }

    }//navbar-nav
}//header

